# Provider Options: openai | google | ollama | anthropic
PROVIDER=openai

# Model names:
# OpenAI: gpt-4o | gpt-4o-mini | gpt-5-nano
# Google: gemini-1.5-pro | gemini-2.0-flash-exp
# Ollama: mistral:latest | llama3 | codellama
# Anthropic: sonnet-4.6 | opus-4.6
MODEL=gpt-4o-mini

# OpenAI API Key
OPENAI_API_KEY=

# Google API Key
GOOGLE_API_KEY=

# Anthropic API Key
ANTHROPIC_API_KEY=

# Ollama API URL
OLLAMA_API_URL=http://localhost:11434
